.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.output {
  outline: none;
  border: none;
  width: 320px;
  height: 90px;
  font-size: 32px;
  padding: 2px 10px;
  background: rgb(71, 65, 65);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  color: white
}

button {
  width: 85px;
  height: 90px;
  font-size: 26px;
  cursor: pointer;
  border: none;
  border-top: 1px solid rgb(17, 15, 15);
  border-right: 1px solid rgb(12, 10, 10);
}

.operator {
  border-right: none;
  background-color: rgb(209, 152, 82);
}

.fun-key {
  background-color: rgb(228, 143, 143);
}